/*GRAL*/
body{
	overflow-x: hidden;
}
a {
	text-decoration: none;
	color:black;
}
a:hover {
	text-decoration: none;
	color: black;
}
.head-section {
	width:100%;
}
.title_sitio {
	text-align: center;
	background-color: #E72A31;
	padding-top: 1%;
	padding-bottom: 1%;
	color: white;
}
/*HEADER*/
header {
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: #E72A31;
	height: 80px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(17,17,18,0.32);
	-moz-box-shadow: 10px 10px 5px 0px rgba(17,17,18,0.32);
	box-shadow: 10px 10px 5px 0px rgba(17,17,18,0.32);
}
header span, .logo {
	display: inline-block;
	font-size: 25px;
	letter-spacing: 2px;
}
header ul li {
	display: inline-block;
	text-align: center;
	padding-left: 10%;
	padding-top: 10px;
}
.navbar a {
	display: inline-block;
}
.r-h {
	padding-top: 20px;
}
.drop-menu {
	padding-top: 10px;
}


/*BANNER*/
#banner {
	padding-top: 80px;
	background: url(../image/coding.jpg);
	background-repeat: no-repeat;
	background-color: #B2B4B6;
	background-size: 100%;
	height: 620px;

}
.descripcion {
	background-color: #E72A31;
	color: #F2F2F4;
	margin-top: 40px;
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 17px;
	height:450px;
	text-align: center
}

/*BLOG*/
#blog {
 background-color: #FFF;
}
.articulo h2{
	background-color: #E72A31;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFF;
	margin-bottom: 0px;
}
.articulo div {
	background-color: #999999;
	color: #FFF;
	margin-bottom: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.articulo div h3 {
	margin-top: 0px;
}
.articulo div p {
	padding-left: 3%;
	padding-right: 3%; 
	text-align: justify;
}
.articulo div hr {
	width: 60%;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	height: 1px;
	background-color: #FFF;
}
.boton-lm {
	display: inline-block;
	width: 20%;
	text-align: center;
	background-color: #FFF;
	padding-top: 5px;
	padding-bottom: 5px;
}

.blog-right {
	background-color: #999999;
	margin-right: 2%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	margin-top: 20px;
}
.blog-right h3 {
	margin-top: 0px;
}
.blog-right a {
	margin-left: 75%;
}
.blog {
	margin-bottom: 20px;
}
.blog-right hr {
	width: 60%;
	margin-left: 0px;
	margin-top: 0px;
	height: 1px;
	background-color: #FFF;
}

/*TOOLS*/
#tools {
	background-color: #404040;
}
.tools {
	margin-bottom: 20px;
	margin-top: 20px;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
.tools p{
	text-align: justify;
	border-left: 1px solid #484F57;
	padding-left: 10px;
}
.tools span {
	font-size: 35px;
}

/*footer*/
footer {
	background-color: #484F57;
	text-align: center;
	padding-bottom: 50px;
}
footer h6 {
	
	padding-top: 20px;
}









/*efecto imagen*/

.contenedor{
  position: relative;
  height: 450px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 20px;
}
.div-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.div-img .img {
  display: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  -webkit-transform: 0px 0px 1;
  -moz-transform: 0px 0px 1;
  -ms-transform: 0px 0px 1;
  -o-transform: 0px 0px 1;
  transform: 0px 0px 1;
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.div-img .text {
  background-color: #C12D33;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Open Sans';
  position: relative;
  z-index: -1;
  display: block;
  bottom: 200px;
  width: 100%;
  text-align: center;
  -webkit-transform: 0px 0px 1;
  -moz-transform: 0px 0px 1;
  -ms-transform: 0px 0px 1;
  -o-transform: 0px 0px 1;
  transform: 0px 0px 1;
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.div-img:hover .img {
  -webkit-transform: 0px -30px 0.5;
  -moz-transform: 0px -30px 0.5;
  -ms-transform: 0px -30px 0.5;
  -o-transform: 0px -30px 0.5;
  transform: 0px -30px 0.5;
}
.div-img:hover .text {
  -webkit-transform: 0px 0px 2;
  -moz-transform: 0px 0px 2;
  -ms-transform: 0px 0px 2;
  -o-transform: 0px 0px 2;
  transform: 0px 0px 2;
  bottom: 0px;
}

/*efecto nav*/
.cl-effect-7 a::before,
.cl-effect-7 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: #566473;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	transform: scale(0.85);
}

.cl-effect-7 a::after {
	opacity: 0;
	-webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.cl-effect-7 a:hover::before,
.cl-effect-7 a:hover::after,
.cl-effect-7 a:focus::before,
.cl-effect-7 a:focus::after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}

.cl-effect-7 a:hover::after,
.cl-effect-7 a:focus::after {
	top: 0%;
	opacity: 1;
}